/* -------------------------------------
 * Fonts
 * ------------------------------------- */

// Local fonts (uncomment following lines)
@font-face {
  font-family: "DKlampion";
  src: font-url('DKlampion/dk_lampion.eot');
  src: font-url('DKlampion/dk_lampion.eot?#iefix') format('embedded-opentype'),
       font-url('DKlampion/dk_lampion.woff') format('woff'),
       font-url('DKlampion/dk_lampion.ttf') format('truetype')
}
$my-font: "DKlampion";

// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: $my-font;

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Custom Color Scheme
$brand-yellow: #FFCD38;
$light-yellow: #FDB631;
$dark-grey: #4A4A4A;
$light-grey: #F3F3F3;

//Overriding bootstrap colors
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
