<div id="playlist-in-skit-show">
  <div class="row">
    <div class="col-xs-12">
      <div class="head-title-box">
        <h2 id="playlist-title"></h2>
        <div class="highlight"></div>
      </div>
      <div id="playlist_skits"></div>
    </div>
  </div>
