<div id="playlist-in-skit-show">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div id="lauch-playlist" class=" text-center playlist-global-btn btn">
        <i class="fa fa-play-circle" aria-hidden="true"></i>
        <b> Lancer la playlist <span id="playlist-title"></span></b>
      </div>

      <div class="playlist-info"></div>


      <ul id="sortable">
        <!-- fake li to make jquery work -->
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("#sortable").sortable({
        <!-- when update of the list -->
        update: function( event, ui ) {
          var arrayOfSkits = $('#sortable li');
          var arrayOfSkitIds = [];
          <!-- retrieve skit_ids in the new order -->
          for (var i = 0; i < arrayOfSkits.length ; i++) {
            var currentId = $(arrayOfSkits[i]).attr('id');
            if (currentId !== 'pub') {
              <!-- exclude the commercial -->
              arrayOfSkitIds.push(parseInt(currentId));
            }
          };

          <!-- retrieve the playlist id -->
          var playlistId = $('.playlist-info').attr('id');
          var playlistName = $('.playlist-info').text();

          console.log("<%= root_url %>");
          <!-- send ajax request to playlist#update -->
          var updatedPlaylist = JSON.stringify({
            'skit_ids': arrayOfSkitIds
          });
          $.ajax({
            type: "PATCH",
            url: "<%= root_url %>" + "playlists/" + playlistId,
            dataType: 'json',
            contentType: 'application/json',
            data: updatedPlaylist,
            success: function(data) {
              console.log("Successfully updated playlist" + playlistName);
            }
          });
        }
      });
      $( "#sortable" ).disableSelection();
    });
  <% end %>
<% end %>
