$(document).ready(function(){
	// go to next card when correct answer clicked
  $(".next-card").click(function(){
  	var current_quizz = $(this).parents(".quizzbox:first");
  	var next_quizz = $(current_quizz).next(".quizzbox");
      if (next_quizz.length > 0) {
        $(current_quizz).hide(500);
        $(next_quizz).fadeIn(500);
      }
    });

  // shaky effect when wrong answer chosen
  $(".bad-answer").click(function(e){
    $(this).parents(".quizzbox:first").effect("shake");
		e.stopPropagation();
   });

  // update zigometer when final right answer chosen
  $("#final-question").click(function(){
    $('#zigometre').empty();
    console.log('final answer replied');
    var updatedZigometer = '<%= image_tag "http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496829806/pilefull.png" %><h4><span>100</span> zigos ! Tu es un roi de l\'humour !</h4>'
    console.log(updatedZigometer);
    $('#zigometre').append($(updatedZigometer));
    $("#quizz-badge-popup").fadeIn(500);
    $("#quizz-badge-popup").delay(3000).fadeOut(500);

    var newScore = JSON.stringify({
      "user" : {
        "fun_level": "100"
        }
      }
    );
    $.ajax({
      type: "PATCH",
      url: "<%= user_url(current_user) %>",
      contentType: 'application/json',
      data: newScore,
      success: function(data) {
        console.log('success - fun level updated');
      },
      error: function(jqXHR) {
        console.error(jqXHR.responseText);
      }
    });
   });
});




