<div id="search-in-skit-show">
  <div class="row">
    <div class="col-xs-12">
      <div class="head-title-box">
        <h2>Sketches</h2>
        <div class="highlight"></div>
      </div>
      <div id="search_skit"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="head-title-box">
        <h2>Artistes</h2>
        <div class="highlight"></div>
      </div>
      <div id="search_comedian"></div>
    </div>
  </div>
</div>
