// in search mode remove scroll effect
var in_scroll_mode = false;

// hide the quizz and the playing skit
$('#playing-skit').hide();
$('#quizz').hide();

// remove the playlist
$('#playlist-in-skit-show').hide();

// show the miniplayer
$('#miniature-player').show();
$('#minipanel').show();

// remove any elements previously searched
$('#search_skit').empty();

// show the search
$('#search-in-skit-show').show();

// go to top of page
$('html,body').scrollTop(0);

<% if @skits.blank? %>
  var search_skit = $("<h4>Pas de blagues :(</h4>");
  $('#search_skit').append(search_skit);
<% else %>
  <% @skits.each do |skit| %>
    var search_skit = $("<div class='col-xs-12 col-md-4'><%= j render 'pages/shared/card', skit: skit %></div>");
    $('#search_skit').append(search_skit);
  <% end %>
<% end %>

$('#search_comedian').empty();
<% if @comedians.blank? %>
  var search_comedian = $("<h4>Pas d'amis' :(</h4>");
  $('#search_comedian').append(search_comedian);
<% else %>
  <% @comedians.each do |comedian| %>
    var search_comedian = $("<div class='col-xs-12 col-md-4'><%= j render 'pages/shared/cardartists', comedian: comedian %></div>");
    $('#search_comedian').append(search_comedian);
  <% end %>
<% end %>


