<!-- video player -->

<!-- carrousel of the playlist -->
<%= render "pages/shared/showcard" %>
<!-- average rating + nb of comments -->

<!-- quizz -->

<!-- floating player -->

<!-- RECOMMENDATIONS -->

<div class="container">
  <h2>You may also like:</h2>
  <div class="row">
    <% @recommended_skits.each do |skit| %>
      <div class="col-xs-12 col-md-4">
        <%= render 'pages/shared/card', skit: skit %>
      </div>
    <% end %>
  </div>
</div>

<!-- REVIEWS -->
