 <div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496137822/Capture_d_e%CC%81cran_2017-05-30_a%CC%80_11.49.04_h58uoc.png');">
	<div class="sketch-du-jour">
		<h3 class="description sketch-du-jour"><b>Le sketch du jour</b></h3>	
		<h1 class="description sketch-name"><b>Le chauffeur Uber (4:33 min)</b></h1>
		<h4 class="description sketch-artist">Gad Elmaleh</h4>
		<btn class="btn btn-success btn-play-banner">Jouer le sketch du jour</btn>
	</div>
</div>
