<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496137822/Capture_d_e%CC%81cran_2017-05-30_a%CC%80_11.49.04_h58uoc.png');">
    <h2>Le sketch du jour</h2>
  </div>
</div>