  <div class="card-container">
    <header>
      <div class="bio">
        <%= image_tag "pic_skit.png", class: "bg" %><!--  skit.pic_skit -->
        <div class="desc">
          <div>L'histoire d'un mec</div> <!-- comedian name -->
          <div>
          Le sketche mythique qui propulsa Coluche dans la cour des grands. A regarder sans modération
          <br>
          <i class="fa fa-play-circle-o" aria-hidden="true" style='font-size: 20px'></i>
         </div><!-- skit short description -->
      </div>

      <div class="comedian-avatar">
        <%= image_tag "avatar_humourist.png", class: "avatar" %> <!-- comedian pic -->
        <div class="hover">
            <div class="icon-twitter"></div>
        </div>
      </div>
    </header>

    <div class="data">
        <div class= "data-info text-center">
          <div>3456 views </div> <!-- skit.views.count -->
        </div>
        <div class= "data-description text-center">
          <div>COLUCHE</div> <!-- skit.comedian.upcase -->
          <div>L'histoire d'un mec</div>
        </div>
        <div class= "data-info text-center">
          <div>5:35</div> <!-- skit.lenght -->
          <div>min</div>
        </div>
    </div>
  <!--   <div class="class data">
      <h3>4/5</h3>
      <span>star</span>
    </div> -->
  </div>
