  <div class="container">
    <div class="raw">
      <div class="col-xs-12 col-md-4">
        <div class="skit-card">
          <header>
            <div class="bio">
              <%= image_tag "avatar_humourist.png", class: "bg" %><!--  skit.pic_skit -->
              <div class="desc">
                <br>
                <div>
                  <p>Comique préféré des français, Coluche a donné bcp de bonheur aux français et particulièrement à Xavier Martinet qui le considère comme son modèle.</p>
                  <btn class="btn btn-primary btn-play-banner btn-xs"><i class="fa fa-play-circle-o" aria-hidden="true" style='font-size: 15px'></i> Voir la fiche</btn>
                </div><!-- comedian.short_description -->
              </div>
            </div>

            <div class="card-ranking">
              <div class= "card-ranking-item text-center">
                <div><b>COLUCHE</b></div> <!-- skit.comedian.name.upcase -->
              </div>
              <div class= "card-ranking-item text-center">
                <div><i class="fa fa-battery-full" aria-hidden="true" style='font-size: 25px'></i></div> <!-- skit.ranking -->
              </div>
            </div>
          </header>
          <div class="card-data">
            <div class= "card-data-info text-center">
              <div>123</div>
              <div>videos</div> <!-- comedian.skit.count -->
            </div>
            <div class= "card-data-description text-center">
            <div>genre 1, genre 2, genre 3, genre 4L'histoire d'un mec, le meilleur sketch du monde</div> <!-- skit.name -->
            </div>
            <div class= "card-data-info text-center">
              <div>5:35</div> <!-- skit.lenght -->
              <div>min</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


