<div class="playlist-card-container">
  <div class="playlist-card-box">
    <!-- flipping playlist-card-bio  -->
    <div class="flip">
      <div class="half">
        <div class="playlist-card-bio" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/duwczzrpk/image/upload/c_fill,g_face,h_100,w_100/v1496150970/pic_skit_epmkwc.png');">
        </div>
      </div>
      <div class="options">
        <%= link_to "#" do  %>
          <i class="fa fa-play-circle"></i>
        <% end %>
        <%= link_to "#" do  %>
          <i class="fa fa-heart"></i>
        <% end %>
        <%= link_to "#" do  %>
          <i class="fa fa-share"></i>
        <% end %>
      </div>
      <div class="full">
        <div class="playlist-card-bio" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/duwczzrpk/image/upload/c_fill,g_face,h_100,w_100/v1496150970/pic_skit_epmkwc.png');">
        </div>
      </div>
    </div>
    <!-- END flipping playlist-card-bio  -->
    <div class="playlist-card-data">
        <h2>L'histoire d'un mec - COLUCHE</h2>
        <p>5:35 min</p>
        <div class="marquee">
          <p>Le sketche mythique qui propulsa Coluche dans la cour des grands. A regarder sans modération</p>
        </div>
    </div>
  </div>

  <div class="playlist-card-comedian-avatar">
    <%= image_tag "avatar_humourist.png", class: "playlist-card-avatar" %> <!-- comedian pic -->
    <a class="playlist-card-comedian-avatar-link" href="#" ></a>
  </div>
</div>
