<div class="playlist-card-container">
  <div class="playlist-card-box">
    <!-- flipping playlist-card-bio  -->
    <%= render "pages/shared/card_flip", img: "http://res.cloudinary.com/duwczzrpk/image/upload/c_fill,g_face,h_100,w_100/v1496150970/pic_skit_epmkwc.png" %>
    <!-- END flipping playlist-card-bio  -->
    <div class="playlist-card-data">
        <h2>L'histoire d'un mec - COLUCHE</h2>
        <p>5:35 min</p>
        <div class="marquee">
          <p>Le sketche mythique qui propulsa Coluche dans la cour des grands. A regarder sans modération</p>
        </div>
    </div>
  </div>

  <div class="playlist-card-comedian-avatar">
    <%= image_tag "avatar_humourist.png", class: "playlist-card-avatar" %> <!-- comedian pic -->
    <a class="playlist-card-comedian-avatar-link" href="#" ></a>
  </div>
</div>
