<div class="quizzcardbox-finish text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="quizz-badge">
      <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496675981/gaulois.png", width: "250px" %>
      </div>
      <div class= "quizz-results">
        <h2>
        <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496679400/stars.png", width: "70px"%>
        <b>Bravo !</b>
        <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496679400/stars.png", width: "70px"%>
        </h2>
        <h2><b>Tu obtiens 3/3 !</b></h2>
          <b>Tu remportes le badge "Humour Gaulois" !
          <br>
          A demain pour le prochain Quizz of the jour !</b>
      </div>
    </div>
  </div>
</div>


