<div class="quizzcardbox-launch text-center">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496666550/logo_quizz2.png", width: "250px" %>
      <br>
      <br>
      <div class="bio">
        <%= cl_image_tag "http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496667274/imagequizzmissioncleopatrepjlwoi.png", class: "launchquizz-image" %><!--  skit.pic_skit -->
        <div class="launchquizz">
          <div>
            <i class="fa fa-power-off" aria-hidden="true" style='font-size: 35px'></i>
            <b>C'est parti mon kiki !</b>
          </div><!-- comedian.short_description -->
        </div>
      </div>
      <h2><b>#MissionCléopâtre</b></h2>
    </div>
  </div>
</div>
