<div class="row__inner">
  <div class="tile">
    <div class="tile__media">
      <img class="tile__img" src="http://res.cloudinary.com/duwczzrpk/image/upload/c_fill,g_face,h_100,w_100/v1496150970/pic_skit_epmkwc.png" alt=""  />
    </div>
    <div class="tile__details">
      <div class="tile__title">
        <h6>C'est l'histoire d'un mec</h6>
      </div>
      <div class="tile__artist">
        <h5>Coluche ~ <span style="font-size: 14px;"><em>10:28</em></span></h5>
      </div>
    </div>
  </div>
</div>
