/* Pour ne montrer que la pile1 au début */
.pile2 {
  display: none;
}

.message2 {
  display: none;
}

.message1 {
  margin-left: 5px;
}

.message2 {
  margin-left: 5px;
}

/* Main class */
.navbar-wagon {
  border-bottom: 1px solid $light-grey;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-family: $my-font;
  text-transform: uppercase;
  font-size: 20px;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 250px;
}


/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Navbar left section (with logo, links) */
.navbar-wagon-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  margin: 0 20px;
  padding: 20px 0;
  height: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0);

  &:hover {
    border-bottom: 3px solid $brand-yellow;
  }

  &-avatar {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
  }
}

/* Navbar standard link */
.navbar-wagon-link {
  color: $brand-yellow;
}
.navbar-wagon-link:hover {
  color: $brand-yellow;
  text-decoration: none;
}
.navbar-wagon-link:focus {
  color: $brand-yellow;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: $light-yellow;
  color: white;
  font-size: 14px;
  border: 2px solid $light-yellow;
}
.navbar-wagon-button:hover {
  color: white;
  background: $brand-yellow;
  border-color: $brand-yellow;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: $light-grey;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  text-transform: uppercase;
  color: #666666;
  border: none;
  border-bottom: 1px solid $light-grey;
  padding: 0 10px;
  outline: none;
  position: relative;
  transition: none;

  &:hover {
    border: none;
    border-bottom: 1px solid $brand-yellow;
    color: $dark-grey;
  }

  &:focus {
    border: none;
    border-bottom: 4px solid $brand-yellow;
    top: 2px;
    color: $dark-grey;
  }
}

/* Navbar dropdown menu right */
.navbar-wagon-dropdown-menu {
  margin-top: -4px;
  box-shadow: 1px 1px 4px $brand-yellow;
  background: #F3F3F3;  /* fallback for old browsers */
  border-color: $brand-yellow;
  border-top: 4px solid $brand-yellow;
  max-width: 500px;
  margin-left: 20px;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $dark-grey !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu >ul > li > a:hover {
  background: #F3F3F3 !important;
  color: $dark-grey !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 7px 10px 7px;
    border-color: transparent transparent $brand-yellow transparent;
    font-weight: 400;
    position: absolute;
    margin-top: -19px;
    margin-left: 16px;
}


.caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: $brand-yellow transparent transparent transparent;
  font-weight: 400;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  margin-left: 65px;
}

.drop-left {
  border-right: 1px solid $light-yellow;
  min-width: 80px;
  a{
    color: $dark-grey;
  }
}

.drop-right {
  li {
    list-style: none;
    color: $dark-grey;
    font-size: 16px;
    a{
      color: $dark-grey;
    }
  }
}

.drop {
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
}

#left-drop {
  padding-left: 20px;
}

#zigometre {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 5px;
  img {
  width: 100px;
  margin-left: 5px;
  }
  p {
    color: $dark-grey;
    margin: 0px;
    padding-left: 20px;
  }

  span {
    color: $dark-grey;
    font-weight: bolder;
    font-size: 30px;
  }
}

/* Navbar dropdown menu Log */
.navbar-wagon-dropdown-menu-log {
  margin-top: -4px;
  box-shadow: 1px 1px 4px $brand-yellow;
  background: #F3F3F3;  /* fallback for old browsers */
  border-color: $brand-yellow;
  border-top: 4px solid $brand-yellow;
  max-width: 500px;
  margin-left: 20px;
  margin-top: 18px;
}
.navbar-wagon-dropdown-menu-log li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $dark-grey !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu-log >ul > li > a:hover {
  background: #F3F3F3 !important;
  color: $dark-grey !important;
}
.navbar-wagon-dropdown-menu-log:before {
  content: ' ';
  width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 7px 10px 7px;
    border-color: transparent transparent $brand-yellow transparent;
    font-weight: 400;
    position: absolute;
    margin-top: -19px;
    margin-left: 137px;
}

#zyzygodropdown {
  margin-top: -4px;
  border-color: $brand-yellow;
  border-top: 4px solid $brand-yellow;
  li {
    margin-left: 14px;
  }
  a{
    color: $dark-grey;
  }


}

#parcourir {
  margin-top: -4px;
  border-color: $brand-yellow;
  border-top: 4px solid $brand-yellow;
  left: 17px;

}
