/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.main-content {
  position: relative;
  margin-top: 70px;
}

.big-wrapper {
  min-height: 100%;
   margin-bottom: -200px;
}


html, body {
  height: 100%;
  margin: 0;
  color: $dark-grey;
  h1, h2, h3, h4, h5, h6 {
    color: $dark-grey;
  }
}
