.banner-home {
  color: white;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: flex-end;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  padding: 20px;
}

.btn-play-oval {
  opacity: 0.0;
  color: $brand-yellow;
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-decoration: none;
}

.sketch-du-jour {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.description {
  color: white;
}

.sketch-name {
  font-size: 80px;
}

.banner-home:hover {
  opacity: 0.9;
  transition: 0.2s;
  .btn-play-oval {
    opacity: 1;
  }
  a {
    text-decoration: none;
  }
}


