.quizzbox {
  display: none;
}

.quizzcardbox-launch {
  display: block;
  width: 100%;
  height: 480px;
  background-color: $light-yellow;
  margin-top: 70px;
  position: relative;
  border-radius: 4px;
    &:hover {
      .launchquizz {
      opacity: 1.1;
      text-decoration: none;
      transform: scale(1.1);
      cursor: pointer;
      }
    }
  }

.quizzcardbox-finish {
  width: 100%;
  height: 480px;
  background-color: $light-yellow;
  margin-top: 70px;
  position: relative;
  border-radius: 4px;
    &:hover {
      .quizz-badge {
      text-decoration: none;
      transform: scale(1.2);
      transition-duration: 0.25s;
      }
    }
  }

.launchquizz {
  border-radius: 10px;
  position: absolute;
  left : 20%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 60%;
  height: 100%;
  color: white;
  text-align: center;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  text-decoration: none;
  color: $brand-yellow;
  font-size: 30px;
    b, p {
      font-family: $header-font;
    }
    p {
      color: white;
      font-size: 20px;
      text-decoration: none!important;
    }
  }

.launchquizz-image {
  border: 3px solid $brand-yellow;
  width: 60%;
  border-radius: 10px;
 }

.quizz-badge {
  margin-top: 30px;
}


.quizz-results {
  position: absolute;
  margin-top: 10px;
  // margin-bottom: 10px;
  padding: 15px;
  // padding-bottom: 1.5em;
  padding-bottom: -15px;
  font-family : $my-font;
  font-size: 25px;
  background-color: $light-grey;
  width: 90%;
  left: 5%;
  border-radius: 8px;
  box-shadow: #bdc3c7 0 5px 5px;
}

.bravo {
  border: solid 3px green;
}
