// in playlist mode remove scroll effect
var in_scroll_mode = false;

// hide the quizz and the playing skit
$('#playing-skit').hide();
$('.quizzcard').hide();

// remove the search
$('#search_skit').hide();

// remove any elements from previous playlist
$('#playlist_skits').empty();

// show the search results and the miniplayer
$('#search-in-skit-show').show();
$('#miniature-player').show();
$('#minipanel').show();

// go to top of page
$('html,body').scrollTop(0);

<% if @playlist_skits.blank? %>
  $('#playlist-title').html(@playlist.name);
  var current_playlist_skit = $("<h4>Pas de blagues :(</h4>");
  $('#playlist_skits').append(current_playlist_skit);
<% else %>
  $('#playlist-title').html(@playlist.name);
  <% @playlist_skits.each do |skit| %>
    var current_playlist_skit = $("<div class='col-xs-12 col-md-4'><%= j render 'pages/shared/card', skit: skit %></div>");
    $('#playlist_skits').append(current_playlist_skit);
  <% end %>
<% end %>


