// in playlist mode remove scroll effect
var in_scroll_mode = false;

// hide the quizz and the playing skit
$('#playing-skit').hide();
$('#quizz').hide();

// remove the search
$('#search-in-skit-show').hide();

// show the miniplayer
$('#miniature-player').show();
$('#minipanel').show();

// remove any elements from previous playlist
$('#sortable').empty();

// show the playlist
$('#playlist-in-skit-show').show();

// go to top of page
$('html,body').scrollTop(0);

$('.playlist-info').attr('id', '<%= @playlist.id %>');
$('.playlist-info').text("<%= @playlist.name %>");
<% if @playlist_skits.blank? %>
  var current_playlist_skit = $("<h4>Pas de blagues :(</h4>");
  $('#sortable').append(current_playlist_skit);
<% else %>
  <% @playlist_skits.each do |skit| %>
    var current_playlist_skit = $("<li id='<%= skit.id %>' class='ui-state-default'><%= j render 'pages/shared/playlist_skit_card', skit: skit %></li>");
    $('#sortable').append(current_playlist_skit);
  <% end %>
<% end %>


